body{
background-color:white;
font-size: 14px;
margin: auto;   
font-family: Georgia, 'Times New Roman', Times, serif; 
}

header{
color: white;
background-color: black;
font-size: 20px;
text-decoration: dotted;
padding: 1em;
}

nav{
background-color: beige;
padding: 0.2em;
}

nav ul{
list-style-type: none;
padding: 0;
margin: 0;
}

.top-menu li {
display: inline-block;
margin-right: 20px;
}

.top-menu a{
text-decoration: none;
color: brown;
font-weight: bold;
}

.top-menu a:hover{
color: black;
}

h2{


}

p{


}

img{
max-width: max-content;
border: 3px;
}

section{


}

footer{
background-color: black;
color: white;
padding: 20px;
text-align: center;
}

.h2spe{
background-color: brown;
color: beige;
}

a:hover{
color: red;
}

a:visited{
color: red;
}

#main-header{
background-color: black;
text-align: center;
}

#main-header h1{
margin: 0;
font-size: 32px;
}

#main-header p{
font-size: 16px;
margin-top: 10px;
}

.content-article{
background-color: burlywood;
border: 1px;
padding: 20px;
margin-bottom: 20px;
}

.content-article h2{
color: #333;
font-size: 24px;
margin-bottom: 10px;
}

.content-article p{
color: #666;
font-size: 16px;
line-height: 1.5;
}

